/**
 * Layout
 * レイアウト全般に関するものはここに書く
 */
body {
	display: flex;
  flex-direction: column;
}
.layout-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  // padding-top: 60px;
  overflow: hidden;
  background-color: $bg-color-layout-wrapper;
  box-shadow: 0 0 5px 0 rgba(#000, .3);

	// @media (min-width: $sm-min) {
	// 	padding-top: 88px;
	// }

  // @media (min-width: $lg-min) {
  //   // padding-top: 98px;
	// }

	// @media (min-width: $nav-min) {
	// 	padding-top: 116px;
	// }
}
.layout-main {
  flex: 1 0 auto;
}

// Container
.container {
	max-width: 420px + $gatter;
	margin-left: auto;
	margin-right: auto;
	@include safe-left($gatter-size);
	@include safe-right($gatter-size);

	@media (min-width: $sm-min) {
		max-width: 520px + $gatter;
	}

	@media (min-width: $md-min) {
		max-width: 680px + $gatter;
	}

	@media (min-width: $lg-min) {
		max-width: 880px + $gatter;
	}
	@media (min-width: $xl-min) {
		max-width: 1124px + $gatter;
	}
}

.row {
	margin-left: -$gatter-size;
	margin-right: -$gatter-size;
}